/* hide templates which hold data returned in api call */
.hidden {
	display: none;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
